* {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

/*배경 화면*/
body {
  width: 100%;
  height: 100%;
  background-color: #e1dfc3;
  min-width: 1200px;
}

.textWrap {
  font-family: Arial, Helvetica, sans-serifs;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 170%;
  margin-top: 250px;
}
.subText {
  font-size: 17px;
}
/* 텍스트 타이핑 효과 */
.wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ad8b73;
  text-align: center;
}
.material-icons {
  font-size: 10rem;
}
.lg-text {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.sm-text {
  font-size: 1.5rem;
}
#dynamic {
  position: relative;
  display: inline-block;
}
#dynamic::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 4px;
  height: 100%;
  background-color: #ad8b73;
}
#dynamic.active::after {
  display: none;
}

input[id="menuicon"] {
  display: none;
}

canvas {
  width: 100%;
  height: 100%;
}
